.hello {
    padding: 10px 10px 30px 10px;
    font-size: 18px;
    font-weight: bolder;
    color: #cccccc;
    background-image: url("../assets/images/background.jpg");
    background-size: 100% 100%;
}